/* Set global styles */
body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background-color: #101820;
    color: white;
}

h1 {
    text-align: center;
    color: white; /* Font color changed to white */
}

/* Styles for the Connect Page */
#connectPage {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center; /* Center align the content */
}

#connectBtn {
    padding: 10px 20px;
    font-size: 32px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 20px; /* Rounded corners */
    background-color: #F4AB6A; /* Background color */
    color: white; /* Font color */
}

/* Styles for the Election Page */
#electionPage {
    display: none;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #101820;
    text-align: center; /* Center align the content */
}

table#candidatesTable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border-radius: 10px; /* Rounded corners */
    background-color: #48AAAD; /* Background color */
    color: white; /* Font color */
}

table#candidatesTable th, table#candidatesTable td {
    border: 1px solid black;
    padding: 8px;
}

table#candidatesTable th {
    background-color: #f2f2f2;
}

form#voteFormContainer {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center align vertically */
    align-items: center; /* Center align horizontally */
    margin-bottom: 20px;
}

form#voteForm label, form#voteForm input {
    margin-right: 10px;
    border-radius: 10px; /* Rounded corners */
}

form#voteForm input {
    padding: 5px; /* To make the input fields look more compact */
}

form#voteForm button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 20px; /* Rounded corners */
    background-color: #F4AB6A; /* Background color */
    color: white; /* Font color */
}

#successMessage {
    text-align: center;
    margin-bottom: 20px;
    color: white; /* Font color */
}
